/* SC-Open.dev Footer CSS v0.1*/
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
#badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: stretch;
    gap: 10px;
}
#disclaimer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
    color: lightgray;
    align-self: center;
    width: 80%;
    margin: auto;
    }
button#referralButton {
    background-color: #4682b4;
}
button#discordButton {
    background-color: #5865F2;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
.modal-content {
    background-color: #666;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}