# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build-dev-test folders
dist/
build/
tests/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock